beautifulsoup4==4.12.3
bs4==0.0.2
lxml==5.3.0
numpy==2.1.2
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
pyzmq==26.2.0
requests==2.32.3
selenium==4.25.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3